.banner {
    background-image: url('https://i.insider.com/61d71cf495f1b900183784d5?width=700') !important;
    padding: 20px;
    border-radius: 20px;
    height: 200px;

    .btn-buy {
        color: white !important;
        font-weight: bold;
        background-color: black; // thêm background để phân biệt
        border-radius: 20px;
        border: 0px;
        padding: 10px 20px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: #333; // hơi sáng hơn
            color: #f0f0f0;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transform: translateY(-2px);
        }
    }


    .confirm-buy-token {
        background-color: #333 !important;
    }

    button.btn-buy.bg-primary.ml-3.btn.btn-primary {
        margin-left: 7px;
    }
}