.banner {
    background-image: url('https://i.insider.com/61d71cf495f1b900183784d5?width=700') !important;
    padding: 20px;
    border-radius: 20px;
    height: 200px;

    .btn-buy{
        color: white !important;
        font-weight: bold;
        color: black;
        border-radius: 20px;
        border: 0px;
    }
}