.confirm-buy-token-form {
    .btn-confirm {
        color: white !important;
        font-weight: bold;
        background-color: black; // thêm background để phân biệt
        border-radius: 20px;
        border: 0px;
        padding: 10px 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        font-size: small;

        &:hover {
            background-color: #333; // hơi sáng hơn
            color: #f0f0f0;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transform: translateY(-2px);
        }
    }
}