.wallet-balance {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
    background-image: url('https://img.freepik.com/vetores-premium/ethereum-eth-em-tendencia-de-baixa-e-preco-caindo-em-fundo-vermelho-escuro-simbolo-de-moeda-de-criptomoeda-e-seta-vermelha-para-baixo-com-queda-de-meteoros-crise-de-negociacao-e-crash_337410-1949.jpg');
}